body {
    background-color: #0a0a0a;
    color: #fafafa;
}

p {
    margin: 0;
}

h1, h3, p {
    font-family: 'Varela Round', sans-serif;
}

#contact-box {
    position: fixed;

    right: 20px;
    bottom: 20px;

    width: max-content;

    padding: 16px;

    border: 1px solid #fafafa;
    background: #0a0a0a;

    font-size: 0.9rem;
    line-height: 1.5;
}

#contact-box p {
    margin-top: 0;
}

#contact-box input {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#close-contact-box {
    position: absolute;

    top: 5px;
    right: 8px;

    border: none;
    background: none;

    cursor: pointer;

    font-size: 1rem;

    color: #fafafa;

}

#contact-box p,
#contact-box button,
#contact-box a {
    white-space: nowrap;
}

#first-question {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#the-inputs {
    display: flex;
    flex-direction: row;
}

#the-inputs input {
    margin-right: 10px;
}

#the-inputs button {
    height: fit-content;
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    color: #fafafa;
}

#the-inputs button:hover {
    color: #0a0a0a;
    background-color: #fafafa;
    border-color: #fafafa;
    cursor: pointer;
}

#contact-box a {
    color: #fafafa;
}

#contact-box a:hover {
    color: blue;
}

.text-container {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.7;
    max-width: 700px;
    margin: 0 auto;
}

.text-container hr {
    border: 0;
    border-top: 1px solid #fafafa;
    margin: 1.5em 0;
}

.video-description {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
    text-align: justify;
}

.video-description p {
    margin: 0;
}

.video-description hr {
    border: 0;
    border-top: 1px solid #fafafa;
    margin: 1.5em 0;
}


.title-container {
    max-width: 700px;
    margin: 0 auto;
}

.lang-box {
    position: fixed;
    top: 0;
    right: 12px;

    background: #0a0a0a;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;

    padding: 8px 12px;

    display: flex;
    gap: 8px;

    z-index: 1000;
}

.lang-box p:hover {
    cursor: pointer;
}

.lang-box p {
    color: #fafafa;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.sep {
    cursor: default;
}

.lang-box p.active {
    text-decoration: none;
    font-weight: bold;
}

video {
    display: block;
    width: min(1000px, 95vw);
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}